
@media (max-width: 1345px){
	.header__section .headerintro__card{
	    height: 700px;
	}
}
@media (max-width: 1199px){
	.header__section .headerintro__card{
	    height: 700px;
	}
	.header__section .headerintro__card .centertext__div h1.call-to-action{
	    font-size: 60px;
	}
	.ourwork__section .worklist__div .work__card .workcard__caption h3{
	    font-size: 2.5rem;
	    line-height: 60px;
	}
	.calltoaction__section .calltoaction__card .centertext__div{
	    padding: 70px 220px;
	}
	.calltoaction__section .calltoaction__card h3{
	    font-size: 2.7rem;
	}
	.calltoaction__section .calltoaction__card p{
	    padding: 30px 160px;
	    line-height: 35px;
	}
	.article__card p.article__text{
	    font-size: 19px;
	    line-height: 35px;
	}
	.talktous__section .talktous__card h1{
	    font-size: 1.7rem;
	}
	.custom__nav nav ul#first_ul .nav-item a{
	    padding: 26px 20px;
	    font-size: 14px;
	}
	.custom__nav nav ul#second_ul .nav-item a{
	    padding: 26px 70px;
	    font-size: 14px;
	}
}


@media (max-width: 1100px){
	.header__section .headerintro__card .centertext__div h1.call-to-action{
	    font-size: 55px;
	}
	.header__section .headerintro__card .centertext__div{
	    padding-top: 80px;
	}
	.calltoaction__section .calltoaction__card p{
	    padding: 30px 120px;
	}
	.landingpage__container .section-title{
	    font-size: 2.7rem;
	}
	.header__section .headerintro__card .centertext__div .header__paragraph a{
	    padding: 25px 5px;
	}
}

@media (max-width: 1080px){
	.custom__nav a.navbar-brand{
	    padding: 15px;
	    padding-right: 0px;
	}
	.custom__nav nav ul#first_ul .nav-item a{
	    padding: 27px 20px;
	    font-size: 13px;
	}
	.custom__nav nav ul#second_ul .nav-item a{
	    padding: 27px 60px;
	    font-size: 13px;
	}
}

@media (max-width: 1010px){
	.custom__nav a.navbar-brand{
	    padding: 15px 10px;
	    padding-right: 0px;
	}
	.custom__nav nav ul#first_ul .nav-item a{
	    padding: 28px 20px;
	    font-size: 11px;
	}
	.custom__nav nav ul#second_ul .nav-item a{
	    padding: 28px 60px;
	    font-size: 11px;
	}
}

@media (max-width: 991px){
	.header__section .headerintro__card .centertext__div h1.call-to-action{
	    font-size: 45px;
	}
	.header__section .headerintro__card{
	    height: 670px;
	}
	.ourwork__section .worklist__div .work__card .workcard__caption h3{
	    font-size: 2rem;
	}
	.landingpage__container .section-title{
	    font-size: 2.5rem;
	}
	.landingpage__container .section-subtitle{
	    font-size: 15px;
	}
	.calltoaction__section .calltoaction__card .centertext__div{
	    padding: 70px 150px;
	}
	.article__card img{
	    height: 200px;
	}
	.header__section .headerintro__card .centertext__div .header__paragraph{
	    padding: 50px 0px;
	}
	.custom__nav nav ul#first_ul{
		display: none;
	}
	.custom__nav nav ul#second_ul{
		display: none;
	}
	.custom__nav nav ul#third_ul{
		display: block;
	}
	.custom__nav nav ul#third_ul .nav-item span{
		padding: 20px 30px;
		display: block;
		font-size: 30px;
		color: var(--accent-color);
		background-color: #f4f4f4;
	}
	.donate__section .donateintro__card h1{
	    margin-left: 0px;
	}
}

@media (max-width: 890px){
	.header__section .headerintro__card .centertext__div h1.call-to-action{
	    font-size: 40px;
	}
	.calltoaction__section .calltoaction__card{
	    height: 350px;
	}
	.header__section .headerintro__card .centertext__div .header__paragraph p#second{
	    padding: 10px 80px;
	}
	.ourwork__section .worklist__div .work__card .workcard__caption h3{
	    font-size: 1.5rem;
	    line-height: 40px;
	}
	.calltoaction__section .calltoaction__card .centertext__div{
	    padding: 70px 100px;
	}
	.calltoaction__section .calltoaction__card h3{
	    font-size: 2.3rem;
	}
	.calltoaction__section .calltoaction__card p{
	    padding: 30px 80px;
	}
}

@media (max-width: 820px){
	.custom__footer h3.list__title{
	    font-size: 17px;
	}
	.custom__footer ul li{
	    font-weight: 400!important;
	    font-size: 13px;
	}
	.custom__footer .footer__copyrightcard p{
	    font-size: 13px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header .dateandlocation{
	    font-size: 18px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header h1{
	    font-size: 2.1rem;
	    line-height: 50px;
	}
}

@media (max-width: 767px){
	.ourwork__section .worklist__div .work__card .workcard__caption h3{
	    font-size: 1.2rem;
	    line-height: 30px;
	}
	.calltoaction__section .calltoaction__card p{
	    padding: 30px 50px;
	    font-size: 15px;
	}
	.landingpage__container .section-title{
	    font-size: 1.9rem;
	}
	.calltoaction__section .calltoaction__card h3{
	    font-size: 1.9rem;
	}
	.article__card p.article__text{
	    font-size: 16px;
	    padding: 10px 15px;
	}
	.article__card .dateandlocation{
	    font-size: 15px;
	}
	.talktous__section .talktous__card h1{
	    font-size: 1.5rem;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header img{
	    height: 350px;
	}
/*	h1{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}*/
}

@media (max-width: 700px){
	.header__section .headerintro__card .centertext__div .header__paragraph p#second{
	    padding: 10px 30px;
	}
	.header__section .headerintro__card .centertext__div .header__paragraph a{
	    padding: 45px 5px;
	}
	.landingpage__container .section-title{
	    font-size: 1.6rem;
	}
	.calltoaction__section .calltoaction__card p{
	    padding: 30px 10px;
	}
	.talktous__section .talktous__card h1{
	    font-size: 1.4rem;
	}
	.talktous__section .talktous__card p{
	    font-size: 15px;
	}
	.talktous__section .talktous__card span{
	    font-size: 13px;
	}
}

@media (max-width: 600px){
	.donate__section .donateintro__card{
	    padding: 50px 65px;
	}
}

@media (max-width: 575px){
	.header__section .headerintro__card .centertext__div h1.call-to-action{
	    font-size: 35px;
	    line-height: 60px;
	}
	.header__section .headerintro__card .centertext__div .header__paragraph p#second{
	    padding: 10px;
	}
	.header__section .headerintro__card .centertext__div .header__paragraph a{
	    padding: 25px 5px;
	}
	.ourwork__section .worklist__div .work__card img{
	    height: 450px;
	}
	.calltoaction__section .calltoaction__card .centertext__div{
	    padding: 70px 40px;
	}
	.article__card img{
	    height: 300px;
	}
	.talktous__section .talktous__card h1{
		padding-top: 40px;
	}
	.articlepage__header{
	    height: 300px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header img{
	    height: 250px;
	}
	.singlearticle__container .singlearticle__section{
	    padding: 15px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header h1{
	    font-size: 1.9rem;
	    line-height: 50px;
	    padding-top: 20px;
	}
}

@media (max-width: 500px){
	.donate__section .donateintro__card{
	    padding: 40px 50px;
	}
	.donate__section .donateintro__card h1{
	    font-size: 35px;
	}
}

@media (max-width: 485px){
	.header__section .headerintro__card{
	    height: 730px;
	}
}

@media (max-width: 450px){
	.header__section .headerintro__card{
	    height: 650px;
	}
	.header__section .headerintro__card .centertext__div h1.call-to-action{
	    font-size: 30px;
	}
	.header__section .headerintro__card .centertext__div{
		padding: 40px 20px;
	}
	.ourwork__section .worklist__div .work__card img{
	    height: 350px;
	}
	.article__card img{
	    height: 220px;
	}
	.calltoaction__section .calltoaction__card .centertext__div{
	    padding: 40px 20px;
	}
	.calltoaction__section .calltoaction__card h3{
	    font-size: 1.5rem;
	}
}

@media (max-width: 425px){
	.custom__nav nav ul#third_ul .nav-item span{
		padding: 20px 30px;
		font-size: 25px;
	}
	.sidebar__frame{
	    top: 75px;
	}
	.donate__section .donateintro__card{
	    padding: 20px 30px;
	}
	.donate__section .donateintro__card h1{
	    font-size: 30px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header img{
	    height: 250px;
	}
	.singlearticle__container .singlearticle__section{
	    padding: 10px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header h1{
	    font-size: 1.6rem;
	    line-height: 40px;
	    padding-top: 15px;
	}
}

@media (max-width: 385px){
	.singlearticle__container .singlearticle__section .singlearticle__header img{
	    height: 200px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header h1{
	    font-size: 1.4rem;
	}
	.donate__section .donateintro__card .payment__card #cryptocurrency__div{
	    padding: 10px;
	}
	.donate__section .donateintro__card{
	    padding: 30px 20px;
	}
	.donate__section .donateintro__card .payment__card{
	    padding: 20px;
	}
}

@media (max-width: 368px){
	.header__section .headerintro__card{
	    height: 730px;
	}
}

@media (max-width: 330px){
	.header__section .headerintro__card{
	    height: 690px;
	}
	.header__section .headerintro__card .centertext__div h1.call-to-action{
	    font-size: 27px;
	    line-height: 40px;
	}
	.donate__section .donateintro__card h1{
	    font-size: 28px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header img{
	    height: 180px;
	}
	.donate__section .donateintro__card .payment__card #payment__method a{
	    padding: 16px 15px;
	}
}

@media (max-width: 320px){
	.custom__nav nav ul#third_ul .nav-item span{
		padding: 20px 25px;
		font-size: 25px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header img{
	    height: 170px;
	}
	.singlearticle__container .singlearticle__section .singlearticle__header h1{
	    font-size: 1rem;
	    line-height: 30px;
	}
}